---
import { db, Note } from 'astro:db';

const comments = await db.select().from(Note);
---

<h2>Large note</h2>

{
  comments.map(({ note, date }) => (
    <article>
      <p>Author: {note}</p>
      <p>{date}</p>
    </article>
  ))
}