---
import { db, ScarlettNote } from 'astro:db';

const notes = await db.select().from(ScarlettNote);
---

<h2>Large note</h2>

{
  notes.map(({ text, title }) => (
    <article>
      <p>Author: {text}</p>
      <p>{title}</p>
    </article>
  ))
}